

#login .container #login-row #login-column #login-box {
	margin-top:75px;
	height: 20em;
	border: 1px solid #9C9C9C;
	border-radius: 10px;

}

#login{
	height: 444px;

}

#register-link{
	margin-top: -85px;
	margin-left: 10px;
}

