

.dashbordtotal{
height: 100vh;
position: fixed;
background-color: #122143;
width: 15%;
}


.home{
display: flex;
flex-direction: row;
}
#sidebar{
width: 30%;
margin-left: -192px;
}
.content{
width: 80%;
margin-left: 6%;

}

#buttonout{
  text-decoration: none;
  border: none;
  background-color: #122143;
}

body{
  background-color: #F6F7FA;
}
/*---------------- card--------------- */

.commande{
  background-color: #5A718D;
}

.contact{
  background-color: #2F5564;
}
.navCount{
display: flex;
margin-left: -23%;
}

.order{
height: 180px;
width: 400px;
color: white;
border-radius: 10px;
margin-top: 1%;
margin-left: 20%;

}
.order i{
font-size: 50px;
margin-top: 28%;
margin-left: 16%;   
}
.info{

display: flex;

}


.commande1{
  margin-top: -26%;
  margin-left: -20%;
  font-size: x-large;
  }
.contact1{
  margin-top: -26%;
  margin-left: -16%;
  font-size: x-large;
  }
.numbers{
  margin-top: -36%;
  margin-left: 73%;
  font-size: x-large;

}


/*************** sidebar *********************/

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
} 



#navigation {
  padding: 0;
} 

.display-table {
  display: table;
  padding: 0;
  height: 100%;
  width: 100%;
}

.display-table-row {
  display: table-row;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
}

#buttonadd {
  margin-top: 3% ;
  width: 30% ;
} 

#buttonadd:hover{
  color: black;
  background-color: white;
} 

.btndelete:hover{
  color: black;
  background-color: white;
} 

.btnedit:hover{
  color: black;
  background-color: white;
} 


.btn :hover {
  color: black;
  background-color: white;
}



.navi a {
  border-bottom: 1px solid #0d172e;
  border-top: 1px solid #0d172e;
  color: #ffffff;
  display: block;
  font-size: 22px;
  font-weight: 500;
  padding: 28px 20px;
  text-decoration: none;
}

.navi i {
  margin-right: 15px;
  color: #5584ff;
}

.navi .active a {
  background: #122143;
  border-left: 5px solid #5584ff;
  padding-left: 15px;
}

.navi a:hover {
  background: #122143 none repeat scroll 0 0;
  border-left: 5px solid #5584ff;
  display: block;
  padding-left: 15px;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0e1a35;
}



