
  @media only screen and (max-width: 990px) {
 
 
    }

 
@media only screen and (max-width: 727px) {
  .card {
      margin-left: 22% !important;
  }
  
    } 
   
@media only screen and (max-width: 600px) {
.card {
    margin-left: 14% !important;
}

  }

    


.page {
    padding: 2%;
    margin: auto
}



.card-img-top {
    width: 255px;
    height: 225px;
    cursor: pointer;
}

.view {
    background-color: #dfe6e0;
    padding: 10px;
    margin: 20px
}

.card {
    width: 335px;
    padding: 0px;
    margin-left: 2%
}
.btnadd{
    border: none;
    width: 280px;
    height: 40px;
}
.card-footer {
    background-color: #ff772e;
    font-weight: 700;

}

.card-title{
  height: 75px;
}

.price {
    color: #ff4517;
    font-weight: 600
}

.iconvoir{
  position: relative;
  bottom: 226px;
  left: -1px;
 height: 0px;
  display: none;
}

.iconv{
  position: relative;
  bottom: 125px;
  left: -6px;
  border-radius: 5px;
  border:1px solid #E5E5E5;
  width: 100px;
  background-color: #E5E5E5;

  opacity: 0.75;
}


.iconv:hover{
  color: #C0D62F;

}

