

  /* zone feltrage */
  /* .form-control{
    width: 25%;

  }

  #inputForm{
    width: 94%;
  } */

  /* .col-xs-6{
    display: flex;
    justify-content: space-between; 
    margin-top: 5%;
    margin-left: 1%;
    padding-left: 2%;
  }

  #buttonadd:hover{
  color: black;
  background-color: white;
}  */

  @media only screen and (max-width: 990px) {
    /* zone feltrage */
    /* .col-xs-6{
    display: grid;
    margin-left: 31%;
    
  }
  .form-control{
    width: 100%;
    margin-bottom: 10%;
    
  } */
    }

/* popup */
/* 
   #popup{
     width: 800px;
     height: 500px;
     background-color: red;
     position: relative;
     top: -1200px;
    left: 350px;
    display: none;
   }
 
   
   .imgpopup{
    margin-top: 12%;
    margin-left: 4%;
    border-radius: 11px;
    box-shadow: 0px 3px 10px #a1a1a1;
}
   

   .card-popup{
    position: relative;
    top: -60%;
    left: 46%;
    width: 49%;
    text-align: center;
} */

/* .far{
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin-top: 2%;
  margin-right:2%;
  margin: 2% 2%;
} */

/* @media only screen and (max-width: 900px) {
  .card {
      margin-left: 2% !important;
  }
  
    }  */
 
@media only screen and (max-width: 727px) {
  .card {
      margin-left: 22% !important;
  }
  
    } 
   
@media only screen and (max-width: 600px) {
.card {
    margin-left: 14% !important;
}

  }

    

/*ul {
    list-style-type: none;
    margin-left: 37%;
    padding: 0
}*/

/* .rating {
    margin-left: 37%
} */

.page {
    /*background-color: #dfe6e0;*/
    padding: 2%;
    margin: auto
}

/*.fa {
    color: #f2dd1d
}*/

.card-img-top {
    width: 255px;
    height: 225px;
    cursor: pointer;
}

.view {
    background-color: #dfe6e0;
    padding: 10px;
    margin: 20px
}

.card {
    width: 335px;
    padding: 0px;
    margin-left: 2%
}
.btnadd{
    border: none;
    width: 280px;
    height: 40px;
}
.card-footer {
    background-color: #ff772e;
    font-weight: 700;
    /* color:white; */

}

.price {
    color: #ff4517;
    font-weight: 600
}

.iconvoir{
  position: relative;
  bottom: 226px;
  left: -1px;
 height: 0px;
  display: none;
}

.iconv{
  position: relative;
  bottom: 125px;
  left: -6px;
  border-radius: 5px;
  border:1px solid #E5E5E5;
  width: 100px;
  background-color: #E5E5E5;
  /* display: none; */
  opacity: 0.75;
}


.iconv:hover{
  color: #C0D62F;
  /* background-color:#C0D62F ; */
}

