
/* table  */
.totaltable{
	margin-top: 50px;
    margin-right: 85px;
}


/* backgroud table white */
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}



/* div titre table */
.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}



/* titre table */
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}





/* button ajouter  */
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}


	


/* table td et tr */
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}






/* icon supprimer et modifier */
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}

table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #F44336;
}

table.table td i {
	font-size: 19px;
}


/* button detail*/
.btndetail{
	text-decoration: none;
	border: none;
	color:none;
	background-color:none;
	}
	
	/* icon detail */
	.btndetail i{
		color: #FFC107;
		}

/* button repende */

.btnrepende{
	text-decoration: none;
	border: none;
	color:none;
	background-color:none;
	}
	
	/* icon repende */
	.btnrepende i{
		color: #078fff;
		}

